.grid{
    background-color: #E2E6EB;
    border-radius: 30px;
    height: 859px;
}
.grid1{
    background-color:#E2E6EB;
    border-radius: 16px;
    height: 530px;
}
.grid3{
    background-color:#E2E6EB;
    border-radius: 23px;
    height: 330px;
   

}
.grid4{
    background-color:#E2E6EB;
    border-radius: 23px;
    height: 230px;
    margin-top: 6%;
}
.grid5{
    background-color:#E2E6EB;
    border-radius: 23px;
    height: 230px;
    margin-top: 6%;
}
.grid6{
    background-color:#E2E6EB;
    border-radius: 23px;
    height: 230px;
    margin-top: 6%;
}
.grid7{
    background-color:#E2E6EB;
    border-radius: 23px;
    height: 530px;
}
.grid8{
    background-color:#E2E6EB;
    border-radius: 23px;
    height: 530px;
}
.gird9{
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 20px;
}
.gird10{
    background-color: #E2E6EB;
    height: 500px;
    border-radius: 20px;
}


.gird13{
    background-color: #E2E6EB;
    height: 500px;
    border-radius: 20px;
    margin-top: -120%;
}
.gird14{
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 20px;
}
.grid50{
    background-color: #E2E6EB;
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
.grid80{
    background-color: #E2E6EB;
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
.grid70{
    background-color: #E2E6EB;
    height: 650px;
    border-radius: 20px;
    margin-top: 30px;
}
.grid71{
    background-color: #E2E6EB;
    height: 650px;
    border-radius: 20px;
    margin-top: 30px;
}
.grid51{
    background-color: #E2E6EB;
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
.grid711{
    background-color: #E2E6EB;
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
